<form method="POST" action="{{ url_for('add_team_route', tourn_id=tourn_id) }}" class="ajax-form">
    {{ form.hidden_tag() }}

    <h2>Add New Team to {{ tourn_data.name }}</h2>

    <div id="form-errors" style="color: red; margin-bottom: 10px;"></div>

    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(class_="form-control", placeholder="Enter team name", autocomplete="off") }}
    </div>

    <div class="form-group" style="margin-top: 15px;">
        {{ form.score.label }}<br>
        {{ form.score(class_="form-control") }}
    </div>

    <br>
    <button type="submit" class="button-sub">Add Team</button>
</form>